.footer__link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.12;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.footer__link:hover {
    opacity: 80%;
}

@media all and (max-width: 500px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
    }
}