.cover__overlay  {
    background-color: rgba(42, 44, 47, .3);
    color: white;
    text-decoration: none;
    display: flex;
    min-height: 740px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cover__overlay:hover  {
    background-color: rgba(42, 44, 47, 0.8);
    cursor: pointer;
}

@media all and (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media all and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    }
}
@media all and (max-width: 320px) {
    .cover__overlay {
        min-height: 200px;
    }
}
