.place {
    display: flex;
    flex-wrap: wrap;
    max-width: 984px;
    margin: auto;
}

@media all and (max-width: 1280px) {
    .place {
        margin: auto 148px;
    }
}

@media all and (max-width: 1024px) {
    .place {
        margin: auto 48px;
    }
}

@media all and (max-width: 768px) {
    .place {
        margin: auto 24px;
    }
}

@media all and (max-width: 400px) {
    .place {
        margin: auto;
    }
}


@media all and (max-width: 320px) {
    .place {
        margin: auto;
    }
}
