.place__website {
    max-width: 456px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin: 0 0 48px 40px;
    gap: 12px;
}

@media all and (max-width: 1024px) {
    .place__website {
        margin: 0 0 48px 32px;
        
    }
}

@media all and (max-width: 768px) {
    .place__website {
        margin: 0 0 48px 28px;
        max-width: 352px;
    }
}

@media all and (max-width: 320px) {
    .place__website {
        margin: 0 0 32px 16px;
        max-width: 288px;
    }
}