.place__website {
    max-width: 456px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 370px) {
    .place__website {
        gap: 12px;
        margin: 0 16px;
    }
}